<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Tela de Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div class="container">
		<a class="links" id="paracadastro"></a>
		<a class="links" id="paralogin"></a>

		<div class="content">
			<!--FORMULÁRIO DE LOGIN-->
			<div id="login">
				<form method="post" th:action="@{/login}"th:object="${usuarioDTO}" >
					<h1>Login</h1>
					<p>
						<label for="email">Email</label>
						<input id="email" name="email" required="required" type="email"
							placeholder="ex. contato@email.com" th:field=*{email} />
					</p>

					<p>
						<label for="senha_login">Senha</label>
						<input id="senha" name="senha" required="required" type="password"
							placeholder="ex. senha" th:field=*{senha}/>
					</p>
					<p>
						<input type="submit" value="logar" />
					</p>

					<p class="link">
						Ainda não tem conta?
						<a href="cadastro">Cadastre-se</a>
					</p>
				</form>
			</div>


		</div>
	</div>
</body>

</html>